.page-template-about-page {

	.main-content {
		position: relative;

		#image-gallery {
			margin-top: 3rem;

			.background-container {
				padding-top: 2rem;
				padding-bottom: 2rem;
				background-position: 100px;
				background-repeat-x: no-repeat;

				.orbit {
					padding-right: 1rem;
				}
			}
		}
	}

	#mission-statement {

		margin-top: 3rem;

		h2 {
			text-transform: uppercase;
		}
	}

	#profiles {

		.background-container {
			position: relative;

			.profiles-background {
				position: absolute;
				top:0;
				left: 0;
				max-width: 80%;
				background: linear-gradient(to bottom, $red-color, $dark-red-color);
				padding: 2rem 0;
				width: 80%;
				z-index: -5;
			}
		}

		.featured-profile, .profile {
			padding: 0rem;
			margin: 1rem 0.5rem;
			background: $white-color;

			.details {
				position: relative;
				padding: 1.5rem 1rem;

				.bling {
					position: absolute;
					border: 3px solid $red-color;
					width: 1px;
				}

				.name {
					color: $red-color;
					margin-bottom: 0;
				}

				.position {
					margin-bottom: 1.5rem;
					font-size: 1.25rem;
					color: $grey-color;
				}
			}

		}

		.featured-profile {
			.details {
				.bling {
					top: -150px;
					right: 2.5rem;
					height: 225px;
				}
			}
		}

		.profile {
			.details {

				.bling {
					border: 2px solid $red-color;
					top: -80px;
					left: 0.5rem;
					height: 200px;
				}
			}

		}

	}

}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.page-template-about-page {

		.main-content {

			.bling-1 {
				left: 4rem;
			}


			#image-gallery {
				.background-container {
					background-position: 250px;

					.orbit {
						max-width: 80%;				
					}
				}
			}

		}


		#mission-statement {
			padding: 2rem 5rem 2rem 0;
			margin-top: 3rem;
		}

		#profiles {

			.featured-profile, .profile {

				.details {
					padding: 2rem 2rem;

					.name {

						font-size: 1.9rem;
					}
				}
			}


			.profile {

				.details {

					.bling {
						left: 1rem;
					}
				}
				.name {

					font-size: 1.6rem;
				}
			}

		}

		#mission-statement {
		
		}

	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}