.page-template-about-page {
	#section_3, #section_4 {
		font-size: 18px;
		
		.font-demi {
			font-size: 16px;
		}
	}

	.profile-resizer {
		display: table;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.page-template-about-page {
		#section_3_column_2, #section_3_column_4, #section_4_column_2, #section_4_column_4 {
			
				justify-content: center;
			
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Medium width and pretty narrow height */
@media screen and (min-width: 40em) and (max-height: 700px)  {
	.page-template-about-page {

		#section_2 .html-block{
			padding-top: 75px;
		}

		#section_3_column_1, #section_3_column_3, #section_4_column_1, #section_4_column_3 {
			.background-div {
				background-size: auto 80% !important;
			}
		}
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
	
	.page-template-about-page {
		#section_3_column_2, #section_3_column_4, #section_4_column_2, #section_4_column_4 {
			.cell {
				max-width: 400px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {
	
}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {
	.page-template-about-page {
		#section_3, #section_4 {
			h3 {
				font-weight: 900;
				font-size: 36;
			}
			font-size: 24px;

			.font-demi {
				font-size: 18px;
			}
		}
	}
}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 149.9375em) {
	
}

/* XXLarge and up (>2400px) */
@media screen and (min-width: 150em) {
	
}