#profiles {
	.profile {
		margin: 1rem 0 2rem 0;

		.left-column {
			margin-bottom: 1rem;
		}
	}
}

#reports {
	.report {
		margin: 0 0 2rem 0;
	}
}

#awards {
	.recipient {

		margin-bottom: 2rem;
		
		.top {
			margin-bottom: 1rem;

			.name {
				margin-bottom: 0;
			}

			.award {
				font-size: 1.25rem;
			}
		}

	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up */
@media screen and (min-width: 40em) {
	#profiles {
		.profile {
			.left-column {
				margin-bottom: 0;
			}
			.right-column {
				padding-left: 3rem;
			}
		}
	}

	#awards {
		.recipient {
			.right-column {
			    padding-left: 2rem;
			}
		}
	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}