.page-template-about-page {
	.headshot {
		margin-bottom: 2rem;
	}

	#signoff {
		margin: 2rem 0;
	}

	.info-sections {
		color: $white-color;

		.container {
			padding: 1rem;

			.section-title {
				text-align: center;
			}
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.page-template-about-page {
		.headshot {
			margin-top: 2rem;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.page-template-about-page {
		.headshot {
			margin-right: 2rem;
			max-width: 300px;
		}

		.info-sections {

			.container {
				padding: 2rem 1rem;

				.section-title { 
					margin-bottom: 1rem;
				}
			}
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	.page-template-about-page {
		.headshot {
			max-width: none;
		}

		.info-sections {

			.container {
				padding: 3rem 1rem;

				.section-title { 
					margin-bottom: 2rem;
				}
			}
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}