.blog, .archive {

	.post {
		position: relative;
		min-height: 410px;
		max-width: 410px;
		margin: 2rem auto;
	
		.background-image {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: -1;
			background-size: cover;
			background-position: 50% 50%;
		}

		.title {
			margin-top: 1rem;
		}

		.excerpt {
			font-size: 1.4rem;
		}


	}

	#field-notes-intro {
		text-align: center;
	}
	
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.blog, .archive {

	.post {
		margin: 3rem auto;
	}
}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}