.background-image-size-cover {
	background-size : cover !important;
}
.background-image-size-contain {
	background-size : contain !important;
}

.background-image-pc-w-10 {
	background-size : 10% auto !important;
}
.background-image-pc-w-20 {
	background-size : 20% auto !important;
}
.background-image-pc-w-30 {
	background-size : 30% auto !important;
}
.background-image-pc-w-40 {
	background-size : 40% auto !important;
}
.background-image-pc-w-50 {
	background-size : 50% auto !important;
}
.background-image-pc-w-60 {
	background-size : 60% auto !important;
}
.background-image-pc-w-70 {
	background-size : 70% auto !important;
}
.background-image-pc-w-80 {
	background-size : 80% auto !important;
}
.background-image-pc-w-90 {
	background-size : 90% auto !important;
}
.background-image-pc-w-100 {
	background-size : 100% auto !important;
}

.background-image-pc-h-10 {
	background-size : auto 10% !important;
}
.background-image-pc-h-20 {
	background-size : auto 20% !important;
}
.background-image-pc-h-30 {
	background-size : auto 30% !important;
}
.background-image-pc-h-40 {
	background-size : auto 40% !important;
}
.background-image-pc-h-50 {
	background-size : auto 50% !important;
}
.background-image-pc-h-60 {
	background-size : auto 60% !important;
}
.background-image-pc-h-70 {
	background-size : auto 70% !important;
}
.background-image-pc-h-80 {
	background-size : auto 80% !important;
}
.background-image-pc-h-90 {
	background-size : auto 90% !important;
}
.background-image-pc-h-100 {
	background-size : auto 100% !important;
}

.background-image-repeat {
	background-repeat : repeat !important;
}
.background-image-repeat-x {
	background-repeat : repeat-x !important;
}
.background-image-repeat-y {
	background-repeat : repeat-y !important;
}
.background-image-no-repeat {
	background-repeat : no-repeat !important;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.background-image-small-size-cover {
		background-size : cover !important;
	}
	.background-image-small-size-contain {
		background-size : contain !important;
	}


	.background-image-small-pc-w-10 {
		background-size : 10% auto !important;
	}
	.background-image-small-pc-w-20 {
		background-size : 20% auto !important;
	}
	.background-image-small-pc-w-30 {
		background-size : 30% auto !important;
	}
	.background-image-small-pc-w-40 {
		background-size : 40% auto !important;
	}
	.background-image-small-pc-w-50 {
		background-size : 50% auto !important;
	}
	.background-image-small-pc-w-60 {
		background-size : 60% auto !important;
	}
	.background-image-small-pc-w-70 {
		background-size : 70% auto !important;
	}
	.background-image-small-pc-w-80 {
		background-size : 80% auto !important;
	}
	.background-image-small-pc-w-90 {
		background-size : 90% auto !important;
	}
	.background-image-small-pc-w-100 {
		background-size : 100% auto !important;
	}

	.background-image-small-pc-h-10 {
		background-size : auto 10% !important;
	}
	.background-image-small-pc-h-20 {
		background-size : auto 20% !important;
	}
	.background-image-small-pc-h-30 {
		background-size : auto 30% !important;
	}
	.background-image-small-pc-h-40 {
		background-size : auto 40% !important;
	}
	.background-image-small-pc-h-50 {
		background-size : auto 50% !important;
	}
	.background-image-small-pc-h-60 {
		background-size : auto 60% !important;
	}
	.background-image-small-pc-h-70 {
		background-size : auto 70% !important;
	}
	.background-image-small-pc-h-80 {
		background-size : auto 80% !important;
	}
	.background-image-small-pc-h-90 {
		background-size : auto 90% !important;
	}
	.background-image-small-pc-h-100 {
		background-size : auto 100% !important;
	}

	.background-image-small-repeat {
		background-repeat : repeat !important;
	}
	.background-image-small-repeat-x {
		background-repeat : repeat-x !important;
	}
	.background-image-small-repeat-y {
		background-repeat : repeat-y !important;
	}
	.background-image-small-no-repeat {
		background-repeat : no-repeat !important;
	}
}
