.page-template-contact-page {
	.contact-ninja {
		margin-bottom: 2rem;

		.nf-form-fields-required, .nf-field-label, .nf-error-msg.nf-error-required-error {
			display: none;
		}

		.nf-error .nf-error-msg, .nf-error-msg.nf-error-field-errors {
			font-size: 1rem;
		}

		.nf-form-content button, .nf-form-content input[type=button], .nf-form-content input[type=submit] {
			font-family: Brandon, sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			background-color: $blue-medium-color;
			background: $blue-medium-color !important;
			height: unset !important;
			font-size: 0.9rem;
		}

		.nf-form-content button:hover, .nf-form-content input[type=button]:hover, .nf-form-content input[type=submit]:hover, .nf-form-content button:focus, .nf-form-content input[type=button]:focus, .nf-form-content input[type=submit]:focus {
			background-color: $blue-light-color;
		}

	}


	.social-links {
		margin-bottom: 2rem;

		.social-link {
			margin-right: 1rem;
		}
	}

}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.page-template-contact-page {
		header .background-image {
			background-position-x: 75%;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.page-template-contact-page {
		.contact-ninja {
			margin-right: 2rem;
			max-width: 300px;
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	.page-template-contact-page {
		.contact-ninja {
			max-width: none;
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}