body.page-template-default:not(.home) {

	.off-canvas-content {

		p, li {
			font-weight: 200;
		}

		h2 {
			margin-top: 3rem;
			margin-bottom: 1rem;
		}

		h3 {
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		ol, ul {
			text-align: left;
		}

		li {
			margin-bottom: 1rem;
		}

		.the-content.align-left {

			padding-top: 100px;
			padding-bottom: 100px;

		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {
	body.page-template-default:not(.home) {

		.off-canvas-content {

			.the-content.align-left {

				.cell {
					max-width: 90%;
					margin: auto;
				}
			}

			ol, ul {
				margin-left: 1.75rem;
			}

			li {
				margin-bottom: 2rem;
			}

		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {
	body.page-template-default:not(.home) {

		.off-canvas-content {

			h2 {
				font-size: 55px;
			}

			section {
				font-size: 32px;
			}		
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {
	
}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 119.9375em) {
	
}

/* XXLarge and up (>1920px) */
@media screen and (min-width: 120em) {
	
}