footer {
	background: $primary-color;
	color: $secondary-color;
	padding: 3rem 0 2rem 0;

	.menu a {
		color: $secondary-color;
		border-bottom: $gold-color solid 2px;
		display: inline-block;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0.25em;
		margin-bottom: 0.5rem;

	}

	a:hover {
		color: $gold-color;
		text-decoration: none;
		border-bottom: $gold-color solid 3px;
	}

	.social-menu {
		
		#social-menu {
			display: inline-flex;
		}

		.menu a {
			border-bottom: none;
			font-size: 1.5rem;
			margin-right: 0.75rem;
		}
	}

	.copyright {
		margin-top: 3rem;
		a {
			color: $grey-light-color;
			font-size: 0.7rem;
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	footer {
		text-align: center;

		#secondary-footer-menu {
			text-align: center;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	#center-column {
		text-align: center;
	}

	#right-column {
		text-align: right;
	}

	#footer-menu, #secondary-footer-menu {
		text-align: left;
		text-transform: uppercase;
		margin-left: 3rem;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}