
.full-width-container.footer {
	background-color: $grey-color;

	footer {
		padding-top: 2rem;
		padding-bottom: 1rem;
		text-transform: uppercase;
		font-size: 1.2rem;

		a {
			color: $white-color;
		}

		#footer-social {
			margin-top: 2rem;
			padding-top: 1rem;
			border-top: 1px solid white;

			ul {
				list-style: none;
			}
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up */
@media screen and (min-width: 40em) {
	#center-column {
		text-align: center;
	}

	#right-column {
		text-align: right;
	}


.full-width-container.footer {

	footer {
		font-size: 1.1rem;
	}
}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	.full-width-container.footer {
		footer {		
			font-size: 1.4rem;
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}