.home.page {

	#cta-right {

	}

	main {

		.content-container {

			> div {
				background-color: inherit;
			}
		}

		#intro {
			margin: 3rem 0;
			font-size:1.4rem;
		}

		#feeds {

			#news, #feature {

				 .post-front-page {

				 	.featured-image img {
				 		margin-bottom: 0.5rem;
				 	}

				 	border-bottom: 2px solid $black-color;
					margin-bottom: 1rem;
				 }

				 .post-front-page:nth-last-of-type(1) {
					border-bottom: none;
					margin-bottom: 0;
				 }
			}

			.deadline-front-page {
				margin-bottom: 1em;

				.date {
					text-transform: uppercase;
					font-family: 'Cooper-Hewitt-Bold';
				}
			}
		}
	}

	.height-restricted-container {
		max-height: 200px;
		overflow: hidden;
		margin-bottom: 1rem;
	}

	.show-for-home-only {
		display: block;
	}

}

	/* Small only */
@media screen and (max-width: 39.9375em) {
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}