.front-page-section
{	
	position: relative;
	margin-bottom: 3rem;

	> .gold-border-div {
		width: calc(100% - 2rem);
		height: calc(100% - 2rem);
	}
}

#section-welcome {
	h1 {
		margin-bottom: 3rem;
	}

	.background-div {
		background-repeat-y: repeat;
	}

	.border-container {
		margin-left: 1rem;
		margin-right: 0.5rem;
	}

}

#section-team {
	.gold-border-div {
		margin: -2rem;
	}

	.cell:nth-of-type(even) .featured-image {
		text-align: right;
	}
}

#section-services {

	.background-div {
		background-size: cover;
	}

	.front-page-services {
		margin: 2rem 1rem;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
	header .background-div {
		background-position-x: 100% 
	}

	#section-welcome {
		margin-top: 2rem;

		.background-div {
			background-position-x: 100% 
		}
	}

	#section-stories {
		.background-div {
			background-repeat-y: repeat;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.front-page-section {
		> .gold-border-div {
			width: calc(100% - 4rem);
			height: calc(100% - 4rem);
			margin: 2rem;
		}
	}

	#section-welcome {

		.border-container {
			margin-left: 2rem;
			margin-right: 1rem;
		}

	}

	#section-services {
		.front-page-services {
			max-width: 75%;
			margin: 4rem auto;

			.container {
				padding: 3rem;
				opacity: 0.9;
			}
		}
	}

	#section-team {
		.gold-border-div {
			z-index: -1;
		}

		#team-member-images {
			width: 160%;
    		margin-left: -60%;

			.cell:nth-of-type(1) .featured-image img {
				margin-top: -100px;
    		}

			.cell:nth-of-type(even) .featured-image {
				text-align: left;
			}

			.cell:nth-of-type(4) .featured-image , .cell:nth-of-type(5) .featured-image , .cell:nth-of-type(6) .featured-image {
				text-align: right;
			}
		}
	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	.front-page-section {
		> .gold-border-div {
			width: calc(100% - 6rem);
			height: calc(100% - 6rem);
			margin: 3rem;
		}
	}

	#section-welcome {
		.border-container {
			margin-left: 4rem;
			margin-right: 2rem;
		}
	}

	#section-services {
		.front-page-services {
			margin: 7rem auto;
		}
	}

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}