
a:hover, a:active, a:focus {
	color: $third-color;
	outline-color: inherit;
}

.grid-container {
	max-width: none;
}

.content-container {
	max-width: 1000px;
	margin: auto;
}

.container {
	background: $white-color;
	padding: 1rem 0.5rem;
}

main {
	background-color: $third-color;
	min-height: 80vh;

	.content-container {
		padding-top: 1em;
		padding-bottom: 1em;

		> div {
			background-color: $secondary-color;
		}

		.border-bottom {
			border-bottom: 2px solid $third-color;
		}

		li {    
			margin-bottom: 0.25rem;
		}
		
		a {
			color: $black-color;
			text-decoration: underline;
		}

		a:hover, a:active {
			color: $yellow-color;
		}


		a.button, button, .button-container a, a.wp-block-button__link {
			background: $black-color;
			color: $white-color;
			text-decoration: none;
			text-transform: uppercase;
			display: block;
			font-size: 1.1rem;
			font-family: 'Cooper-Hewitt-Bold';
		}

		a.button:hover, button:hover, .button-container a:hover, a.wp-block-button__link:hover {
			background: $black-color;
			color: $yellow-color;
		}

		a.button.narrow, button.narrow, .button-container.narrow a, a.wp-block-button__link.narrow {
			display: inline-block;
		}

		#sub-menu {

			margin-bottom: 1.5rem;

			#menu-about-1 {
				max-width: 90%;
			}

			.menu a {
				font-family: 'Cooper-Hewitt-Bold';
				text-transform: uppercase;
				text-decoration: none;
				color: $primary-color;
				line-height: 1.25;
				
			}

			.menu a:hover, .menu a:active {
				color: $yellow-color;
			}
		}

		#sub-menu a.active, #sub-menu a[aria-current], #sub-menu li.current-menu-item a {
			text-decoration: underline;
			color: $yellow-color;

		}
	}
}

.archive, .blog, .search {

	.post {

		margin-bottom: 2rem;
		
		h2 {
			display: inline;

			a {
				text-decoration: none;
			}
		}

		.meta {
			font-size: 0.8rem;
		}
	}

}

.single {
	.featured-image {
		margin-bottom: 1rem;
	}
}

.navigation.button-container {

	a {
		margin: 0 0 1rem 0;
		padding: 0.85em 1em;
		display: inline-block !important;
		min-width: 200px;
	}
}

.show-for-home-only {
	display: none;
}

p.no-margin-bottom {
	margin-bottom: 0 !important;
}

.wp-block-file {
	margin-bottom: 0.5rem;
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */

    a {
    	display: inline-flex;
    }
}

.wp-block-file:nth-last-of-type(1) {
	margin-bottom: 1.5rem;
}

.thumbnail-caption {
	font-size: 0.9rem;
	font-style: italic;
	margin: 0.25rem 0 1rem 0;
}

html.is-reveal-open body {
    display: contents;
}

.reveal {
	input[type="submit"], input[type="button"] {
			background: $black-color;
			color: $white-color;
			text-decoration: none;
			text-transform: uppercase;
				font-size: 1.1rem;
			font-family: 'Cooper-Hewitt-Bold';
		}

		input[type="submit"]:hover, input[type="button"]:hover {
			background: $black-color;
			color: $yellow-color;
		}

}

.responsive-embed {
	height: auto;
	padding-bottom: 0;
}

.gmw-map iframe {
	height: 300px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
	.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a::after {
		border-color: $black-color transparent transparent;
	}

	.accordion-menu .is-accordion-submenu-parent[aria-expanded=true]:not(.has-submenu-toggle)>a::after {
		border-color: $yellow-color transparent transparent;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
	.container {
		padding: 1rem;
	}

	.archive, .blog, .search {

		.post {

			.right-column {

				padding-left: 2rem;

				.read-more {
					display: inline-block;
				}
			}
			
		}

	}

	main {

		.content-container {

			#sub-menu {

				.menu a {
					padding-left: 0;
					padding-right: 1rem;
					margin-right: 0.4rem;
					overflow: hidden;
				}
			}

		}
	}


	.button-separator {
		margin: 1rem;
	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}
