.post-type-archive-austeve-programs {

	.container.austeve-program {
		padding: 1rem 0;

		a {
			text-decoration: none;
		}

		.featured-image {
			margin-bottom: 0.5rem;
		}
	}
}

main .content-container .deadline-front-page a {
	text-decoration: none;
}


/* Small only */
@media screen and (max-width: 39.9375em) {
	.single-austeve-programs {
		.austeve-program {
			.right-column {
				margin-top: 1rem;

				.deadlines {
					margin-bottom: 1rem;
				}
			}
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.single-austeve-programs {
		.austeve-program {
			.left-column {
				padding-right: 1.5rem;
			}
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}