.top-bar {
	background: $red-color;

	.top-bar-left, .top-bar-right {
		width: unset;
	}
}

.header-background-image {
	min-height: 100vh;
	background-position: 50% 50%;
	background-size: cover;
}

.header-bg {
	background-size: cover; 
}

header {

	color: $white-color;
	text-transform: uppercase;


	#page-title {
		padding-top: 30vh;
	}

	a.custom-logo-link:hover, a.custom-logo-link.focus {
		opacity: 1;
	}
}


/* Small only */
@media screen and (max-width: 39.9375em) {
	header {
		.custom-logo {
			display: none;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
	header {
		#page-title {
			padding-top: 30vh;
		}
		.custom-logo {
			max-width: 110px;
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.header-bg {
		background-position-x: 10%;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {

	header {
		min-height: 100vh;
		
		#page-title {
			padding-top: 50vh;
		}

		.custom-logo {
			max-width: 160px;
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}


/* Larger and up */
@media screen and (min-width: 72em) {

	header {
		
		.custom-logo {
			max-width: 180px;
		}
	}
}