.top-bar {
	background: $red-color;

	.top-bar-left, .top-bar-right {
		width: unset;
	}

	.grid-container {
		padding-top: 0;
		padding-bottom: 0;

	}
}

.header-background-image {
	min-height: 100vh;
	background-position: 50% 50%;
	background-size: cover;
}

.header-bg {
	background-size: cover; 
	background-position: 50% 0%;
	overflow: hidden;
}

header {

	color: $white-color;
	text-transform: uppercase;
	padding-top: .625rem;
	padding-bottom: .625rem;
	height: 360px;
	position: relative;

	.text-container {
		height: 100%;
	}

	a.custom-logo-link:hover, a.custom-logo-link.focus {
		opacity: 1;
	}
}

.header-bg.video {
	overflow: hidden;

	iframe {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 360px;
		width: 640px;
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		z-index: -100;
	}
}



/* Small only */
@media screen and (max-width: 39.9375em) {
	header {
		.custom-logo {
			display: none;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
	header {
		height: 650px;

		.custom-logo {
			max-width: 100px;
		}

		.text-container {
			height: calc(100% - 100px);
    		padding-bottom: 2rem;
		}
	}

	.header-bg.video {
		iframe {
			height: 720px;
			width: 1280px;
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {

	header {
		height: 100vh;

		.custom-logo {
			max-width: 130px;
		}

		.text-container {
			height: calc(100% - 130px);
    		padding-bottom: 4rem;
		}
	}

	.header-bg.video {
		iframe {
			height: 1080px;
			width: 1920px;
		}
	}
}


/* Large and up - narrower than 16:9 */
@media screen and (min-width: 64em) and (max-aspect-ratio: 16/9) {

	.header-bg.video {
		iframe {
			height: 100vh;
		    width: calc(100vh * (16 / 9) );
		}
	}
}

/* Large and up - wider than 16:9 */
@media screen and (min-width: 64em) and (min-aspect-ratio: 16/9) {

	.header-bg.video {
		iframe {
			height: calc(100vw / (16 / 9) );
		    width: 100vw;
		}
	}
}



/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}

/* Larger and up */
@media screen and (min-width: 75em) {

	header {
		.custom-logo {
			max-width: 150px;
		}

		.text-container {
			height: calc(100% - 150px);
		}
	}

}

/* > 1920px */
@media screen and (min-width: 90rem) {

	header {
		.custom-logo {
			max-width: 160px;
		}

		.text-container {
			height: calc(100% - 160px);
		}
	}

}

/* > 1920px */
@media screen and (min-width: 120rem) {

	header {
		.custom-logo {
			max-width: 250px;
		}

		.text-container {
			height: calc(100% - 250px);
		}
	}

}


/* > 2560px */
@media screen and (min-width: 160rem) {

	header {
	}
	
}

/* > 3840px */
@media screen and (min-width: 240rem) {

	header {
	}

}

/* Exact aspect ratio, put it at the bottom to avoid override*/
@media (max-aspect-ratio: 1/1) {

	.header-bg {
		background-size: cover;
	}
	header {
		min-height: 0;
	}
}

