form#mc-embedded-subscribe-form {

	#mcPopup {
		position: fixed;
		bottom: -500px;
		right: 50px;
		transition: bottom 2s linear;
		background-color: $blue-medium-color;
		color: $white-color;
		box-shadow: -10px 10px $teal-color;
		max-width: 300px;

		.close-button {
			color: $white-color;
			z-index: 10;
		}

		.close-button:hover, .close-button:focus {
			color: $white-color;
		}

		#mc_embed_signup {

			padding: 10px;
			text-align: center;

			.custom-message {
				padding-bottom: 1rem;
			}

			div.mce_inline_error {
				display: none !important;
			}

			input.mce_inline_error {
				border: 2px solid $blue-light-color;
			}

			div#mce-responses { 
				float: none;

				a {
					display: block;
					margin-top: 0.5rem;
					color: $blue-light-color;
				}
			}

			div.response {
				width: 100%;
			}

			#mce-success-response {
				color: $teal-color;
			}
		}

	}

	#mcPopup.show {
		bottom: 0;
	}

}

html.is-reveal-open body {
	position: unset;
}

#mc_embed_signup {
	input {    		
		border-radius: 0;
		color: $blue-medium-color;
	}

	input.button {
		border-radius: 0;
		background: $white-color;
		color: $blue-medium-color;
		height: 2.4375rem;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}



/* Larger and up */
@media screen and (min-width: 75em) {

	.mc-signup-call {
		right: calc((100vw / 2) - 37.5rem + 150px);
	}
}