.off-canvas {
	background: $faded-tshirt-color;
	border: $border-width solid $white-color;

	.off-canvas-header {
		position: absolute;
		top: $border-width;
		left: $border-width;
		right: $border-width;

		.close-button {
			color: $white-color;
			font-size: 41px;
			margin-top: -1.4rem;
			margin-right: -1rem;
		}
	}

	.grid-y {
		margin-top: 100px;
	}
	
	.menu {
		li {
			display: block;

			a {
				font-size: 28px;
				font-weight: 900;
				text-transform: uppercase;
				color: $white-color;
				padding: 1rem 1rem;
			}

			a:hover {
				color: $light-grey-color
			}

			a:visited {
				color: $white-color
			}
		}
	}

	#menu-container {
		min-height: 610px;
		position: relative;

		#menu-footer-container {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;


			#secondary-menu-container, #copyright-menu-container  {
				background-color: $bone-color;
				color: $faded-tshirt-color;


				.grid-y {
					margin-top: 0;
					height: 100%;
				}

				.grid-x {
					min-height: 100%;

					.cell {
						max-height: 100%;
					}

				}

				.menu {
					li {
						a {
							font-size: 16px;
							font-weight: 700;
							text-transform: uppercase;
							color: $faded-tshirt-color;
							padding: 0.75rem 1rem;
							text-align: center;
						}
					}
				}

				img {
					margin-top: 0.5rem;
					margin-bottom: 1rem;
					max-width: 80px;
				}
			}

			#secondary-menu-container {
				.menu {
						margin-bottom: 1rem;
				}
			}
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up */
@media screen and (min-width: 40em) {
	.off-canvas {

		.grid-y.medium-align-center {
			margin-top: 0;
			justify-content : center;
			height: 100%;
		}

		.grid-y {
			margin-top: 120px;
		}

		#menu-container {
			height: calc(100% - 120px);
			

			#menu-footer-container {
				
				#secondary-menu-container, #copyright-menu-container  {

					.menu {
						margin-top: 2rem;
						margin-bottom: 2rem;

						li {
							display: inline-block;
						}
					}
				}

				#secondary-menu-container {

					.menu {

						li {
							border-right: 1px solid $faded-tshirt-color;
						}

						li:nth-last-of-type(1) {
							border-right: none;
						}
					}
				}

			}
		}

	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {
	
}

/* XLarge and up */
@media screen and (min-width: 100em) {
	.off-canvas {

		.off-canvas-header {
			position: absolute;
			top: 3rem;
			left: 3rem;
			right: 3rem;
		}

	}

	/* XLarge AND short */
	@media screen and (max-height: 800px) {
		.off-canvas {

			.grid-y.medium-align-center {
				justify-content : start;
				height: 800px;
				padding-top: 100px;
			}
		}

	}
}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 149.9375em) {
	
}

/* XXLarge and up */
@media screen and (min-width: 150em) {
	
}


/* Longer and up */
@media screen and (min-height: 740px) {
	.off-canvas {
		#menu-container {
			min-height: calc(100% - 100px);

			.menu li a {
				font-size: 30px;

			}
		}
	}

	@media screen and (min-width: 40em) {
		.off-canvas {
			#menu-container {
				min-height: calc(100% - 120px);
			}
		}
	}

}


@media screen and (min-height: 900px) {
	.off-canvas #menu-container {
		#menu-main-menu {
			margin-top: 5vh;
		}
		.menu li a {
			font-size: 5vh;
			padding: 2vh 3vw;
		}
	}
}