.austeve-products-template-default.single {

	section#section_3 {

		font-size: 20px;

		.html-block.align-left {
			padding-top: 4rem;
		}

		h2 {
			margin-bottom: 3rem;
		}

		#section_3_block_2 p {
			text-transform: uppercase;
			font-weight: 900;
		}

		#section_3_block_4 {
			.font-heavy { 
				font-size: 16px;
			}
			.font-demi { 
				font-size: 14px;
			}
		}
		
		#section_3_block_5 {
			text-transform: uppercase;

			a {
				margin-top: 1rem;

			}
		}
	}

	#section_4 {

		.cell {
			transition: opacity 0.5s linear;
		}

		h4 {
			font-size: 16px;
			font-weight: 900;
			text-transform: uppercase;
		}
		.description {
			font-size: 16px;
		}

		.img-block {
			padding: 1rem;
		}

		.feature {
			margin-bottom: 0.5rem;

			.icon {
				padding-right: 1rem;

				div {
					line-height: 0;
				}
				img {
					max-width: 30px;
				}
				.normal {
					display: block;
				}
				.highlight {
					display: none;
				}
			}
			
		}

		.feature:hover {
			cursor: pointer;

			h4 {
				text-decoration: underline;
			}

			.icon {
				.normal {
					display: none;
				}
				.highlight {
					display: block;
				}
			}
		}

		.feature.active {
			.icon {
				.normal {
					display: none;
				}
				.highlight {
					display: block;
				}
			}
		}
	}

	#section_5_column_1 {
		.cell {
			padding: $border-width;
		}
	}

}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.austeve-products-template-default.single {
		#section_4 {
			#section_4_column_1 {
				min-height: 50vh;
			}

			#section_4_column_2 {
				justify-content: start;

				.icon {
					img {
					}
				}
			}
		}
	}
}

/* Medium and up (>640px) */
@media screen and (min-width: 40em) {
	.austeve-products-template-default.single {

		section#section_3 {
			font-size: 18px;

			.html-block.align-left {
				padding-top: 6rem;
			}

			#section_3_block_2 h2 {
				margin-bottom: 6rem;
			}

		}

		#section_4 {
			h4 {
				font-size: 20px;
			}

			#section_4_column_1 {
				padding-top: 75px;
				padding-bottom: 75px;
			}

			#section_4_column_2 {

				.feature-container {
					padding: 75px 5%;

					.feature {
						.icon {
							img {
								margin-top: 3px;
							}
						}
					}

				}

				.feature-detail {
					padding-left: 1rem;
				}
			}

		}

		#section_5_column_1 {
			font-size: 24px;
		}
	}

	@media screen and (max-height: 640px) {
		#section_3_block_4 {
			.background-div {
				background-image: none;
			}
		}
		#section_4 {
			.img-block {
				padding-top: 75px;
				justify-content: start;
			}
		}
	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Medium width and pretty narrow height */
@media screen and (min-width: 40em) and (max-height: 700px)  {
	.austeve-products-template-default.single {

		#section_2 .html-block, #section_5_column_1 , #section_6 .html-block {
			padding-top: 75px;
		}
	}
}

/* Large and up (>1024px) */
@media screen and (min-width: 64em) {
	.austeve-products-template-default.single {

		section#section_3 {
			font-size: 26px;

			#section_3_block_4 {
				.font-heavy { 
					font-size: 24px;
				}
				.font-demi { 
					font-size: 18px;
				}
			}
		}

		#section_4 {

			h4 {
				font-size: 20px;
			}

			.description {
				font-size: 18px;
			}

			#section_4_column_2 {

				.feature-container {
					max-width: 80%;
				}
			}
		}

		#section_5_column_1 {
			padding-left: 10rem;
			padding-right: 10rem;
		}

		#section_6 div#section_6 {
			
		}

		
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {
	
}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {
	.austeve-products-template-default.single {

		#section_2 div#section_2 {

			.font-heavy {
				font-size: 44px;
				line-height: 1.5;
			}
		}

		section#section_3 {
			font-size: 36px;

			.html-block {
				padding-left: 4rem;
				padding-right: 4rem;
			}

			#section_3_block_4 {
				.font-heavy { 
					font-size: 30px;
				}
				.font-demi { 
					font-size: 24px;
				}
			}

		}

		#section_4 {
			h4 {
				font-size: 24px;
			}
			.description {
				font-size: 20px;
			}
			.icon {
				img {
					max-width: 50px;
				}
			}


			#section_4_column_2 {

				.feature-container {
					.feature {
						.icon {
							img {
								margin-top: 6px;
							}
						}
					}
				}
			}
		}

	}
}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 149.9375em) {
	
}

/* XXLarge and up (>2400px) */
@media screen and (min-width: 150em) {
	.austeve-products-template-default.single {
		
	}
}