.archive {

	.project {
		position: unset;
		margin-top: 2rem;

		.description {
			margin-bottom: 1rem;
		}
	}

	.project:nth-of-type(odd) {
		padding: 1rem 0;

		.project-container {
			background-color: $white-color;

			.project-detail-container {
				padding: 0.5rem;
				background: $grey-color;
				color: $white-color;
				margin: 1rem 0	 1rem 0;

				.meta {
					padding: 1rem 0;

					h2 {
						font-size: 1.45rem;
					}
					div {
						font-size: 1.25rem;

						span {
							font-size: 1rem;
							font-weight: 700;
							padding-left: 1rem;
						}
					}
				}
			}
		}
	}

	.project:nth-of-type(even) {
		padding: 1rem 0;

		.project-container {
			background: linear-gradient(90deg, $white-color 20%, $red-color 20%);
			padding-bottom: .5rem;

			.project-detail-container {
				padding: 0.5rem;
				background: $white-color;
				margin: 0 1rem 1rem 0;

				.meta {
					padding: 1rem 0;

					h2 {
						font-size: 1.45rem;
					}
					div {
						font-size: 1.25rem;

						span {
							font-size: 1rem;
							font-weight: 700;
							padding-left: 1rem;
						}
					}
				}
			}

			.project-action-container {
				a {

				}
			}
		}
	}
}

.single-austeve-projects {
	.container {

		.image-gallery {

			ul {
				
				margin-left: 0;
				list-style: none;

				li {
					margin-bottom: 1rem;
				}
			}
		}

		.meta {
			margin-bottom: 1rem;
			font-size: 1.25rem;

			span {
				font-size: 1rem;
				font-weight: 700;
				margin-left: 1rem;
			}
		}
	}
}

.archive, .single-austeve-projects {

	.term-links {
		margin-bottom: 2rem;
		position: relative;

		a {
			font-family: Gotham-Black;
			font-size: 1.05rem;
			text-transform: uppercase;
		}

		.bling {
			position: absolute;
			border: 3px solid $red-color;
			width: 1px;
			top: 0;
			bottom: 0;
			left: 0;
		}

		.active {
			color: $red-color;
		}	

		div {		
			a:hover {
				text-decoration: none;
			}
			
		}
	}

	.term-information {
		text-align: center;

		h2 {
			text-transform: uppercase;
		}

	}
}

.taxonomy-details {
	

}

.featured-project {
	display:inline-block;
	width: calc(100vw - 3rem);
	margin: 0 1rem 0 0;
	padding: 0;
	text-align: left;
	white-space: initial;
	overflow-x: visible;
	background-color: $grey-color;

	.details {
		color: $white-color;
		padding: 1.5rem;
		position: relative;

		.name, .location {
			text-transform: uppercase;
		}

		.name {
			font-size: 1.4rem;
			margin-bottom: 0.25rem;
		}

		.location {
			margin-bottom: 0.5rem;
		}

		.bling {
			position: absolute;
			border: 3px solid $red-color;
			width: 1px;
			top: -50px;
			left: 0.75rem;
			height: 150px;
		}

		.action a {
			margin-top: 1rem;
		}
	}


}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
	.archive {

		.project {
			position: relative;
		}

		.project:nth-of-type(even) {
			.project-action-container {
				margin-right: 1rem;
				text-align: right;
			}
		}
	}

	.archive, .single-austeve-projects {

		.term-links {
			text-align: center;

			div {
				display: inline-block;

				a::after {
					content: ' - ';
					color: $black-color;
				}
			}

			div:nth-last-of-type(1) a::after {
				content: '';
			}
		}
	}

}

/* Medium and up */
@media screen and (min-width: 40em) {
	.single-austeve-projects {
		.container {

			.image-gallery {
				max-width: 60%;
				shape-outside: content-box;
				padding-top: 225px;
				float: right;
			}
		}
	}

	.archive { 

		.project {

			h2 {
				font-size: 2rem;
				margin-bottom: 0;
			}
		}


		.project:nth-of-type(even) {

			.project-container {

				.project-detail-container {
					margin: 1rem 1rem 1rem 0;
				}
			}

		}

	}

	.archive, .single-austeve-projects {

		.term-links {
			margin-left: 8rem;


			.bling {
				left: -2rem;
			}

			a {
				font-size: 1.7rem;
			}
		}
	}

	.featured-project {
		width: calc(50vw - 2rem);
	}


}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	.archive {

		.project {
			.project-detail-container {
				min-height: 450px;
			}
		}
		
		.project:nth-of-type(odd) {
			padding: 2rem;

			.project-container {
				position: relative;
				padding: 2rem;

				.project-gallery-container {
					position: absolute;
					top: 0px;
					right: 50px;
					width: 75%;
					z-index: 5;
				}

				.project-detail-container {
					padding: 1rem;
					position: absolute;
					top: 100px;
					left: 50px;
					width: 30%;
					z-index: 10;
				}

				.project-action-container {
					padding: 1rem 0;
					left: calc(50px + 45% + 50px);

					a { 
						margin-bottom: 0; 
					}
				}
			}
		}

		.project:nth-of-type(even) {
			padding: 2rem;

			.project-container {
				position: relative;
				padding: 2rem;

				.project-gallery-container {
					position: absolute;
					top: 50px;
					left: 50px;
					width: 75%;
					z-index: 5;
				}

				.project-detail-container {
					padding: 1rem;
					position: absolute;
					top: 100px;
					right: 50px;
					width: 30%;
					z-index: 10;
				}

				.project-action-container {
					padding: 1rem 0;
					
					a { 
						margin-bottom: 0; 
					}
				}
			}

			button.orbit-next {
				left: 3.5rem
			}

			button.orbit-previous {
				left: 0;
				right: auto;
			}

		}
	}

	.archive, .single-austeve-projects {

		.term-links {

			.bling {
				left: -3rem;
			}

			a {
				font-size: 2rem;
			}

		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}


/* Larger and up */
@media screen and (min-width: 75em) {

	.featured-project {
		width: calc(37.5rem - 2rem);
	}
}