.service-button {
	background-color: $red-color;
	color: $white-color;
	padding: 1rem 2rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-size: 1.4rem;

	a {
		color: $white-color;
		cursor: pointer;
	}

	.service-icon {
		display: block;
	}
	.service-icon.inverse {
		display: none;
	}
}

.service-button:hover, .service-button.active {
	background-color: $white-color;
	

	.service-icon {
		display: none;
	}
	.service-icon.inverse {
		display: block;
	}

	a {
		color: $red-color;
		text-decoration: none;
	}
}

#services {

}

.service {
	position: relative;
	padding: 1rem;
	margin-top: 2rem;
	
	.service-gallery {
		position: relative;

		.background-container {
			position: absolute;
			background-size: cover;
			z-index: 3;
		}

		.image-container {
			position: relative;
			z-index: 6;
			max-width: 600px;
		}
	}

	.service-title {
		text-transform: uppercase;
	}
}

.service:nth-of-type(1) {
	margin-top: 0;
	padding-top: 0;
}

.service:nth-of-type(even) {
	background-color: $light-grey-color;
	text-align: right;
	padding-left: 1rem;
	padding-right: 1rem;

	.service-gallery {

		.background-container {
			right: -4rem;
			left: 50%;
		}

		.image-container {
			margin-left: auto;
			margin-right: 0;
		}
	}


	p.has-medium-font-size::before {
		left: auto;
		right: -1rem;
	}

}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
	.service {

		padding-left: 6rem;

		h2 {
			font-size: 2rem;
		}

		.service-gallery {
			margin-top: 3rem;

			.background-container {
				top: -2rem;
				left: -50vw;
				bottom: -2rem;
				right: calc(50vw - 2rem);
				background-position: center right;

				.orbit {
					//max-width: 60%;
				}

			}
		}
	}

	.service:nth-of-type(even) {
		padding-right: 8rem;
		padding-bottom: 3rem;
		padding-top: 4rem;
		margin-top: 1rem;

		.service-gallery {
			.background-container {
				right: 0;
				left: calc(50% - 10rem);
			}

			.image-container {
				margin-right: 2rem;
			}
		}

		p.has-medium-font-size::before {
			right: -2rem;
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	.service:nth-of-type(even) {
		p.has-medium-font-size::before {
			right: -3rem;
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}

/* Larger and up */
@media screen and (min-width: 75em) {
	
	.service {

		.service-gallery {

			.background-container {
				right: calc(50vw - 37.5rem + 300px)
			}
		}
	}

	.service:nth-of-type(even) {

		.service-gallery {

			.background-container {

			}

			.image-container {
				margin-left: calc(50% - 300px);
				margin-right: 2rem;
			}

		}
	}
}
