.service-button {
	background-color: $red-color;
	color: $white-color;
	padding: 1rem 2rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-size: 1.4rem;

	a {
		color: $white-color;
		cursor: pointer;
	}

	.service-icon {
		display: block;
	}
	.service-icon.inverse {
		display: none;
	}
}

.service-button:hover {
	background-color: $white-color;
	

	.service-icon {
		display: none;
	}
	.service-icon.inverse {
		display: block;
	}

	a {
		color: $red-color;
		text-decoration: none;
	}
}

#services {

}

.service {
	position: relative;
	padding: 2rem 1rem 0rem 1rem;
	margin-top: 2rem;
	
	.service-gallery {
		.background-container {
			padding: 1rem;
			background-size: cover;
			background-repeat-x: no-repeat;
			background-repeat-y: no-repeat;
		}
	}


	.bling {
		position: absolute;
		border: 3px solid $red-color;
		width: 1px;
		top: -25px;
		left: 0.25rem;
		height: 225px;
	}

	.service-title {
		text-transform: uppercase;
	}
}

.service:nth-of-type(1) {
	margin-top: 0;
}

.service:nth-of-type(even) {
	background-color: $light-grey-color;
	text-align: right;
	padding-left: 1rem;
	padding-right: 1rem;

	.bling {
		position: absolute;
		border: 3px solid $red-color;
		width: 1px;
		top: -25px;
		right: 0.25rem;
		height: 225px;
		left: auto;
	}

	.service-gallery {
		.background-container {
			background-position: right;
		}
	}

	.service-title {
		margin-top: 2rem;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
	.service {

		padding-left: 6rem;
		margin-top: 4rem;

		.bling {
			left: 4rem;
		}

		.service-gallery {
			.background-container {
				padding: 2rem;

				.orbit {
					//max-width: 60%;
				}

			}
		}
	}

	.service:nth-of-type(even) {
		padding-right: 8rem;

		.bling {
			right: 2.5rem;
		}
		.service-gallery {
			.background-container {
				padding-right: 6rem;
			}
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}