
#menu-services-page-menu-1 {
	margin-bottom: 2rem;

	a {
		font-weight: 700;

	}

	a[aria-current] {
		border-bottom: 1px solid $black-color;
	}
	a[aria-current]:hover {
		border-bottom: 1px solid white;
	}
}

.page-template-services-page, .page-template-services-sub-page {
	.page-title-container {
		#sub-menu {
			margin-bottom: 3rem;
		}

	}
}

.page-template-services-sub-page {
	.content-container {
		margin-top: 1rem;
		margin-left: 0.5rem;
		background: $grey-light-color;
		padding: 1rem 1rem;
		max-width: 85%;

	}

	.client-profile-container {
		max-width: 90%;


		#picture-row {
			margin: 1rem;

			img {
				margin-bottom: 0.5rem;
			}
		}

		.client-profile{
			position: relative;
			margin: 0 1rem 1rem 1rem;
		}

	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
	.page-template-services-sub-page {

		#picture-row {

			margin-bottom: -8rem;
			z-index: 15;

			.image-horizontal {
				text-align: right;
				padding-right: 2rem;
				margin-top: 4rem;
			}

			.image-vertical {
				text-align: right;
				margin-top: -3rem;
			}

			img {
				position: relative;
			}
		}


		.client-profile-container {
	 		position: relative;
			max-width: 85%;
			z-index: 15;


			.client-profile {
				margin: 0rem 2rem 2rem 2rem;
			}
		}
	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {
	
	.page-template-services-sub-page {

		#picture-row {

			.image-vertical {
				margin-top: -10rem;
			}

		}

		.client-profile-container {

			.border-container {
				width: 100%;
			}

			.client-profile {
				margin: -2rem 2rem 2rem 2rem;
			}
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	
}