/* START: Y-Grid white lines under images 
Sometimes when there are two cells in a Y-grid there appears a faint white line between them. This covers it up */
.grid-y > .cell:not(:nth-last-of-type(1)) {
	margin-bottom: -3px;
}
/* END: Y-Gris white lines under images */

/* START: Product page case study paragragh alignment
Alignment of paragraphs on product pages where the product title is split into 2 lines means we need to directly target specific pages */
/* Medium and up (>640px) */
@media screen and (min-width: 40em) {

.austeve-products-template-default.single.postid-854,
.austeve-products-template-default.single.postid-25,
.austeve-products-template-default.single.postid-27,
 {
	section#section_3 #section_3_block_5 {
    padding-top: 293px;
}
} 

}

/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {

.austeve-products-template-default.single.postid-854,
.austeve-products-template-default.single.postid-25,
.austeve-products-template-default.single.postid-27,
 {
	section#section_3 #section_3_block_5 {
    padding-top: 355px;
}
} 
}

/* END: Product page case study paragragh alignment */