.sidebar {
	background-color: $light-grey-color;
	padding: 1rem;
	font-size: 20px;

	form {
		margin-bottom: 2rem;
	}

	ul {
		list-style: none; 
		margin-left: 0;

		li {
			border-bottom: 1px dashed $black-color;
			padding: 0.5rem 0;
		}

		li::before {
			content: "•"; 
			color: $black-color
		}

		li:nth-last-of-type(1) {
			border-bottom: none;
		}

		a[aria-current] {
			font-weight: 900;
		}
	}

	.blog-description {
		text-align: center;
		margin-bottom: 2rem;
	}

	.clear-filters {
		margin-top: 2rem;
		display: block;

		a {
			display: block;
		}
	}
}


/* Medium and up */
@media screen and (min-width: 40em) {
	.sidebar {
		height: 100%;
		padding: 75px 1rem 1rem 1rem;

		h2 {
			font-size: 28px;
		}

		button {
			font-size: 20px;
		}

		ul {
			font-size: 20px;
		}

		form {
			margin-bottom: 0;
		}
	}
}


/* Large and up */
@media screen and (min-width: 64em) {
	
	.sidebar {

		h2 {
			font-size: 36px;
		}
	}
}


/* XLarge and up (>1600px) */
@media screen and (min-width: 100em) {
	.sidebar {

		h2 {
			font-size: 40px;
		}

		ul {
			font-size: 24px;
			max-width: calc(400px - 2rem);
		}

		.search-container {
			
		}

		input[type='text'] {
			font-size: 28px;
			height: 3.6rem;
		}
	}
}