$white-color: #FFFFFF;
$blue-color: #123C91;
$sky-blue-color: #B4D0E5;
$yellow-color: #FFE800;
$cayenne-color: #C01717;
$teal-color: #3DB4A9;
$bone-color: #F6F5F1;
$faded-tshirt-color: #3E3F45;
$salmon-color: #F89886;
$blush-color: #F8CFBE;
$gold-color: #A18730;
$emerald-green-color: #265A55;
$light-grey-color: #E4E4E4;
$mint-color: #BBF4EE;
$butter-color: #FFFBCE;
$black-color: #000000;

$border-width: 1rem;
$border-total: 2rem;

.white {
	color: $white-color;
}
.blue {
	color: $blue-color;
}
.sky-blue {
	color: $sky-blue-color;
}
.yellow {
	color: $yellow-color;
}
.cayenne {
	color: $cayenne-color;
}
.teal {
	color: $teal-color;
}
.bone {
	color: $bone-color;
}
.faded-tshirt {
	color: $faded-tshirt-color;
}
.salmon {
	color: $salmon-color;
}
.blush {
	color: $blush-color;
}
.gold {
	color: $gold-color;
}
.emerald-green {
	color: $emerald-green-color;
}
.light-grey {
	color: $light-grey-color;
}
.mint {
	color: $mint-color;
}
.butter {
	color: $butter-color;
}
.black {
	color: $black-color;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and up */
@media screen and (min-width: 40em) {
	
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}

/* Large and up */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 99.9375em) {
	
}

/* XLarge and up */
@media screen and (min-width: 100em) {

}

/* XLarge only */
@media screen and (min-width: 100em) and (max-width: 149.9375em) {
	
}