$primary-color: black;
$secondary-color: white;
$third-color: #fdd311; //yellow

$black-color: #231f20; //slate
$white-color: $secondary-color; //white
$yellow-color: $third-color; //yellow
$red-color: #e82627; //red