$primary-color: #3d3d3d;
$secondary-color: #ffffff;
$gold-color: #c39e69;
$black-color: #231f20;
$grey-light-color: #b3b4b4;

//black: #231f20
//grey: #3d3d3d
//grey-light: #b3b4b4
//gold: #c39e69
//white: #ffffff
