body {
	.video-section {
		.placeholder-image {
			background-size: cover;
			background-position: 50% 50%;
			z-index: 1;
			transition: opacity 1s linear;
			padding-top: 75px;

			a, a:hover, a:active, a:focus, a:visited {
				color:$white-color;
			}
		}
	}
	.video-section-content-overlay {
		background: white;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		z-index: -1;

		.video-wrapper {

			position: relative;

			video { 
				width: 100%;
			}

			.video-controls {
				position: absolute;
				bottom: 1rem;
				left: 1rem;
				right: 1rem;
				height: auto;
				
				a, a:hover, a:active, a:focus, a:visited {
					color:$white-color;
				}

				.toggle-mute {
					float: right;
				}

				.toggle-play, .forward-5, .back-5 {
					float: left;
					margin-right: 1rem;
				}

				.toggle-mute.sound-on {
					.fa-volume-mute {
						display: none;
					}
				}
				.toggle-mute:not(.sound-on) {
					.fa-volume-up {
						display: none;
					}
				}

				.toggle-play.paused {
					.fa-pause {
						display: none;
					}
				}
				.toggle-play:not(.paused) {
					.fa-play {
						display: none;
					}
				}


			}
		}
	}

	.video-caption {
		position: relative;
		text-align: right;
		font-size: 16px;
		color: $faded-tshirt-color;
		font-weight: 200;
		opacity: 0.6;

		.close-video-overlay {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
		}
	}

}

/* Small only */
@media screen and (max-width: 40em) {
	/* SMALL AND Minimum aspect ratio - short & wide screens - most likely landscape phones */
	@media (min-aspect-ratio: 1584/1000) {
		body {
			.video-section-content-overlay {
				.video-wrapper {
					max-height: 80%;
					overflow: hidden;
				}
			}
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	body {
		.video-section-content-overlay {
			.video-wrapper {
				height: 90%;
				max-height: calc((100vw -32px) * 0.5625); /* Keeps the wrapper from extending below the bottom of 16:9 video */
				overflow: hidden;

				video {
					position: absolute;
					width: auto;
					height: 100%;
				}
			}
		}
	}
}

/* Maximum aspect ratio - tall & skinny screens */
@media (max-aspect-ratio: 1584/1000) {
	body {	
		.video-section-content-overlay {
			.video-wrapper {
				video {

				}
			}
		}	
	}
}


/* Minimum aspect ratio - short & wide screens */
@media (min-aspect-ratio: 1584/1000) {
	body {	
		.video-section-content-overlay {
			.video-wrapper {
				video {
					width: 100%;
					height: auto;
				}
			}
		}	
	}
}


/* NOT HOME SCREEN - Minimum aspect ratio - short & wide screens */
@media (min-aspect-ratio: 1584/1000) {
	body:not(.home) {	
		.video-section-content-overlay {
			.video-wrapper {
				video {
					top: 50%;
					margin-top: -50vh;
				}
			}
		}	
	}
}





